::selection {
    background-color: #0D6EFD;
    color: var(--bs-light);
}

* {
    box-sizing: border-box
}

.w-fit-content {
    width: fit-content;
}

.button-edit {
    width: 40px;
    height: 40px;
}

.form-control:focus {
    border-color: var(--bs-primary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav.navbar {
    padding: 8px 0 8px 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

nav.navbar a.navbar-brand > img {
    height: 56px !important;
    width: auto;
}

nav.navbar ul.navbar-nav a {
    font-size: 20px;
}

@media (min-width: 992px) {
    nav.navbar ul.navbar-nav a {
        font-size: 18px;
    }
}

nav.navbar .button-logo {
    height: 28px;
    width: auto;
}

ul.navbar-nav .input-group {
    max-width: 400px;
}

ul.navbar-nav #nav-user-img {
    width: auto;
    height: 96px;
}

@media (min-width: 992px) {
    ul.navbar-nav #nav-user-img {
        width: auto;
        height: 64px;
    }
}

ul.navbar-nav #nav-img-search {
    width: 20px;
    height: 20px;
}

em.timegram {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--bs-primary) !important;
    font-weight: 600 !important;
    font-style: normal;
}

em.timegram::after {
    width: 26px;
    height: 24px;

    background-image: url("../img/timegram-effect.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    content: "";
}

h2 > em.timegram {
    border-bottom: 4px solid #FDCA40;
    position: relative;
}

h2 > em.timegram::after {
    position: absolute;
    right: -16px;
    top: -8px;
}

body > section.login,
body > section.cadastrar,
body > section.escrever-timegram {
    max-width: 696px;
}

#home > section {
    min-height: 600px;
    padding: 72px 0 72px 0;
}

#home > section > .container > h2.text-primary {
    margin-bottom: 56px;
}

#home > section.hero .login-link {

}

#home > section.hero p {
    font-size: 20px;
}

#home > section.hero a.btn.btn-outline-primary {
    max-width: 264px;
}

#home > section.hero a.btn.btn-outline-primary > img {
    width: 8px;
    height: auto;
}

#home > section.what-is .timegram-info {
    max-width: 680px;
}

#home > section.what-can-do .timegram-function {
    padding: 48px 24px;
    border: 4px dashed #FDCA40;
}

#home > section.why .accordion {
    /*min-width: 544px;*/
}

#home > section.why .accordion {
    --bs-accordion-border-width: 2px;
    --bs-accordion-border-color: #FDCA40;
    --bs-accordion-active-bg: #f6faff;
}

@media (min-width: 1200px) {
    #home > section.be-part-of h2 {
        max-width: 496px;
    }
}

.all-small-caps {
    font-variant: all-small-caps;
}

#home > section.be-part-of .login-link {
    font-size: 28px;
}

#home > section.be-part-of .timegram::after {
    right: -14px;
    top: 0;
}

@media (min-width: 992px) {
    #home > section.be-part-of .timegram::after {
        right: -14px;
        top: 6px;
    }
}

#home > section.about .social-media-logo {
    width: 48px;
    height: auto;
}

@media (min-width: 992px) {
    #home > section.about .social-media-logo {
        width: 32px;
        height: auto;
    }
}

section.datetime-restante-timegram hr {
    border-color: #8f8f8f;
    width: 100%;
}

section.escrever-timegram div.input-group.date {
    max-width: 200px;
}

section.escrever-timegram textarea#timegramInputConteudo {
    min-height: 160px;
    max-height: 400px;
}

section.datetime-restante-timegram .date-restante-timegram > p {
    font-size: 48px;
}

section.datetime-restante-timegram .time-restante-timegram {
    font-size: 72px;
}

.btn-outline-primary .button-logo {
    filter: invert(38%) sepia(94%) saturate(4053%) hue-rotate(208deg) brightness(96%) contrast(107%);
    transition-duration: 0.15s;
}

.btn-outline-danger .button-logo {
    filter: invert(40%) sepia(61%) saturate(6456%) hue-rotate(336deg) brightness(90%) contrast(91%);
    transition-duration: 0.15s;
}

.btn:hover .button-logo,
.btn:active .button-logo {
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(263deg) brightness(107%) contrast(100%);
    transition-duration: 0.15s;
}

section.timegrams .toolbar img {
    /*width: 40px;*/
    height: 100%;
}

section.timegrams .table td {
    font-size: 14px;
}

section.timegram .toolbar .button-logo {
    width: 24px;
    height: auto;
}

section.timegram .tempo-restante {
    margin-top: 96px;
}

section.timegram .tempo-restante .tempo-restante-ano-mes-dia {
    font-size: 44px;
}

section.timegram .tempo-restante .tempo-restante-hora-minuto-segundo {
    font-size: 52px;
}

section.timegram #timegram-content {
    font-size: 18px;
}

section.user-profile #form-button-container {
    transition: width .5s ease;
    visibility: hidden;
    overflow-x: hidden;
}

section.user-profile .card h5 {
    font-size: 18px;
}

section.user-profile input[type="text"],
section.user-profile input[type="email"] {
    outline: none;
    border-style: solid;
    border-color: var(--bs-primary);
}

section.user-profile input[type="text"]:not([readonly]),
section.user-profile input[type="email"]:not([readonly]) {
    border-width: 1px;
    border-radius: 4px;
    margin: 0 0 8px 8px;
    padding: 0 0 0 8px;
}

section.user-profile input[type="text"][readonly],
section.user-profile input[type="email"][readonly] {
    margin: 0 0 0 8px;
    border-width: 0;
}

section.user-profile input#username {
    background-image: url("../img/at-sign.svg");
    background-position: 4px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 26px;
}
