<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

    <!-- CSS local -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600;700&display=swap"
          rel="stylesheet">

</head>
<body class="overflow-x-hidden">
{#<nav class="navbar bg-body-tertiary">#}
{#    <div class="container">#}
{#        <div class="container-fluid d-flex justify-content-between align-items-center">#}
{#            <a href="{{ url_for('index') }}" class="navbar-brand">#}
{#                <img src={% block image_logo_src %}{% endblock %} alt="">#}
{#            </a>#}
{#            <ul class="navbar-nav d-flex flex-row gap-lg-5 gap-sm-3">#}
{#                {% block navbar_nav %}{% endblock %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a href="{{ url_for('index') }}" class="navbar-brand">
            <img src={% block image_logo_src %}{% endblock %} alt="">
        </a>
        <button class="navbar-toggler border-primary border-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav d-flex align-items-lg-center ms-auto mb-2 mb-lg-0">

                {% block navbar_nav %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
</body>
