{% extends 'base.html' %}

{% block image_logo_src %}
    {{ url_for('static', filename='img/logo-com-nome.png') }}
{% endblock %}

{% block navbar_nav %}
    <a href="{{ url_for('index') }}" class="nav-link fw-medium fs-lg-5 fs-sm-6">Home</a>
    <a href="/index#about" class="nav-link fw-medium fs-lg-5">Sobre</a>
    <a href="{{ url_for('login') }}" class="nav-link fw-medium fs-lg-5">Login</a>
    <a href="{{ url_for('register') }}" class="btn btn-primary fw-bold px-4 fs-lg-5">Fazer cadastro</a>
{% endblock %}
