{% extends 'base.html' %}

{% block image_logo_src %}
    {{ url_for('static', filename='img/logo-com-nome.png') }}
{% endblock %}

{% block navbar_nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dashboard') }}">
            <span class="text-primary">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dashboard') }}">
            <span class="text-primary">Timegrams</span>
        </a>
    </li>
    {#    ms-lg-4 mt-lg-0 mt-4#}
    <li class="nav-item input-group border-primary bg-body mx-3">
        {#        <input class="form-control" type="search" placeholder="Pesquisar usuários" aria-label="Search"#}
        {#               id="nav-search-input">#}

        <form action="{{ url_for('search_user') }}">
            <input type="text" class="form-control border-primary" placeholder="Pesquisar usuários" aria-label="Search"
                   id="nav-search-input">
            <button class="btn btn-outline-primary fw-medium" type="submit">
                <img src="{{ url_for('static', filename='img/search.svg') }}" alt="" id="nav-img-search"
                     class="button-logo">
            </button>
        </form>

    </li>
    <li class="nav-item ms-2">
        <a href="{{ url_for('user_profile', username=current_user_username) }}" class="d-block">
            <img src="{{ url_for('static', filename='img/author-profile-picture.png') }}" alt="" class=""
                 id="nav-user-img">
        </a>
    </li>
{% endblock %}

