{% extends 'base-com-login.html' %}

{% block title %}Cadastro{% endblock %}
{% block content %}
    <section class="container cadastrar pt-5 gap-1">
        {% include 'flash_messages.html' %}

        <h2 class="text-primary fw-bold">Cadastrar</h2>
        <hr class="mb-4">
        <form method="POST" action="/cadastro" class="d-flex flex-column gap-4">
            {{ form.hidden_tag() }}
            <div>
                {{ form.first_name.label(class="form-label fw-medium") }}
                {{ form.first_name(class="form-control") }}
            </div>
            <div>
                {{ form.last_name.label(class="form-label fw-medium") }}
                {{ form.last_name(class="form-control") }}
            </div>
            <div>
                {{ form.email.label(class="form-label fw-medium") }}
                {{ form.email(class="form-control") }}
            </div>
            <div>
                {{ form.password.label(class="form-label fw-medium") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="d-flex gap-4 mt-4">
                <a href="{{ url_for('index') }}" class="btn btn-secondary px-3 fw-bold">Cancelar</a>
                {{ form.submit(class="btn btn-primary px-5 fw-bold") }}
            </div>
        </form>
    </section>
{% endblock %}