{% extends 'base-without-login.html' %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <section class="timegram container pt-5 pb-4 d-flex flex-column">
        <div class="mb-5">
            <div class="d-flex gap-2 mb-3 descricao-rota">
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <span class="text-primary">></span>
                <a href="{{ url_for('access_timegram', timegram_id=timegram.id) }}">Timegram</a>
            </div>
            <div class="toolbar d-flex justify-content-between align-items-center
                        px-4 py-3 bg-body-tertiary rounded-3 shadow">
                <h5 class="m-0"><em class="timegram">Timegram</em> #{{ number_of_timegram }}</h5>
                <button type="button" data-bs-toggle="modal" data-bs-target="#excludeMessage{{ timegram.id }}"
                        class="btn btn-outline-danger border-2 py-2 px-3 d-flex gap-2 align-items-center">
                    <img src="{{ url_for('static', filename='img/trash-2.svg') }}" alt="" class="button-logo">
                    <h5 class="fw-semibold m-0">Excluir</h5>
                </button>
            </div>
        </div>

        <div class="modal fade" id="excludeMessage{{ timegram.id }}" tabindex="-1"
             aria-labelledby="excludeMessage" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 fw-bold text-primary" id="exampleModalLabel">Confirmar exclusão</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Realmente deseja excluir o Timegram com o título <strong>'{{ timegram.title }}'</strong>?
                    </div>
                    <div class="modal-footer gap-1">
                        <button type="button" class="fw-bold btn btn-outline-primary" data-bs-dismiss="modal">Cancelar
                        </button>
                        <a href="{{ url_for('delete_timegram', timegram_id=timegram.id) }}"
                           class="btn btn-outline-danger px-3 d-flex gap-2 align-items-center">
                            <img style="width: 20px; height: auto"
                                 src="{{ url_for('static', filename='img/trash-2.svg') }}" alt="" class="button-logo">
                            <span class="fw-semibold m-0">Excluir</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% include 'flash_messages.html' %}

        <div class="d-flex flex-column gap-3 w-fit-content message-title mb-3">
            <div class="d-flex gap-3 align-items-center">
                <h2 class="text-primary fw-bold m-0">{{ timegram.title }}</h2>
                <div>
                    <button type="button" data-bs-toggle="modal"
                            data-bs-target="#editMessageTitle{{ timegram.id }}"
                            class="button-edit btn btn-outline-primary d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='img/edit.svg') }}" alt="" class="button-logo">
                    </button>
                </div>
            </div>
            <hr class="border-tertiary m-0">
        </div>

        <div class="modal fade" id="editMessageTitle{{ timegram.id }}" tabindex="-1"
             aria-labelledby="editMessage" aria-hidden="true">
            <form action="{{ url_for('access_timegram', timegram_id=timegram.id) }}"
                  method="POST">
                {{ form.hidden_tag() }}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold text-primary" id="exampleModalLabel">Editar título</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body py-3">
                            {{ form.title.label(class="form-label fw-medium") }}
                            {{ form.title(class="form-control", value=timegram.title, placeholder="Insira o novo título do Timegram") }}
                        </div>
                        <div class="modal-footer gap-1">
                            <button type="button" class="fw-bold btn btn-secondary" data-bs-dismiss="modal">
                                Cancelar
                            </button>
                            {{ form.submit(class="btn btn-primary fw-bold px-3") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="d-flex gap-4">
            <div class="d-flex gap-2 align-items-center">
                <img src="{{ url_for('static', filename='img/calendar.svg') }}" alt="">
                <span class="text-primary fs-5">{{ formatted_datetime_creation['formatted_date'] }}</span>
            </div>
            <div class="d-flex gap-2 align-items-center">
                <img src="{{ url_for('static', filename='img/clock.svg') }}" alt="">
                <span class="text-primary fs-5">{{ formatted_datetime_creation['formatted_time'] }}</span>
            </div>
        </div>

        {% if user_already_can_read_timegram %}
            <p class="mt-4" id="timegram-content">{{ timegram.content }}</p>
        {% else %}
            <script src="{{ url_for('static', filename='js/update-datetime-left.js') }}"></script>
            <div class="tempo-restante d-flex flex-column gap-4 align-self-center">
                <p class="m-0 fs-5 text-center">O acesso ao timegram será liberado em</p>
                <div class="d-flex flex-column align-items-center">
                    <div class="tempo-restante-ano-mes-dia d-flex gap-4 align-items-center">
                        <p class="m-0 text-primary fw-bold"><span id="years-left"></span> <span id="years-left-label"></span>
                        </p>
                        <p class="m-0 text-primary fw-bold"><span id="months-left"></span> <span
                                id="months-left-label"></span></p>
                        <p class="m-0 text-primary fw-bold"><span id="days-left"></span> <span id="days-left-label"></span>
                        </p>
                    </div>
                    <p class="tempo-restante-hora-minuto-segundo text-primary fw-bold text-center">
                        <span id="hours-left"></span>:<span id="minutes-left"></span>:<span
                            id="seconds-left"></span>
                    </p>
                </div>
            </div>
        {% endif %}

    </section>

{% endblock %}
