{% extends 'base-without-login.html' %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <section class="container mensagens pt-5 d-flex flex-column gap-5">
        <div class="toolbar d-flex shadow justify-content-between px-4 py-3 bg-body-tertiary rounded-3 align-items-center">
            <h4 class="m-0">Olá, {{ first_name }}</h4>
            <a href="{{ url_for('register_timegram') }}" class="btn btn-primary py-2 px-4 d-flex gap-2">
                <img src="{{ url_for('static', filename='img/plus.svg') }}" alt="">
                <h5 class="fw-semibold m-0">Escrever nova mensagem</h5>
            </a>
        </div>

        {% include 'flash_messages.html' %}

        {% if timegrams %}
            <div class="cards row row-gap-4 mb-5">
                {% for i, timegram in enumerate(timegrams) %}
                    <div class="col-3">
                        <a href="{{ url_for('access_timegram', timegram_id=timegram.id) }}"
                           class="card text-decoration-none shadow-sm">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title text-primary fw-semibold mb-3">
                                        {{ timegram.title }}
                                    </h5>
                                    <figure class="ms-2">
                                        <img src="{{ url_for('static', filename='img/info.svg') }}" class="img-fluid"
                                             alt="" style="max-width: 20px">
                                    </figure>

                                </div>
                                <table class="table">
                                    <tr>
                                        <td>Criação</td>
                                        <td>{{ timegram.get_formatted_datetime_creation()['formatted_date'] }}
                                            - {{ timegram.get_formatted_datetime_creation()['formatted_time'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Abertura</td>
                                        <td>{{ timegram.get_formatted_datetime_can_open()['formatted_date'] }}
                                            - {{ timegram.get_formatted_datetime_can_open()['formatted_time'] }}</td>
                                    </tr>
                                </table>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="d-flex flex-column align-items-center mt-5">
                <hr class="w-100 border border-tertiary">
                <h5 class="text-secondary m-0 text-center w-50 mt-5 fw-normal">Não há nenhuma mensagem registrada</h5>
            </div>
        {% endif %}
    </section>
{% endblock %}
