<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login do usuário</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

    <!-- CSS local -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a href="/" class="navbar-brand"><img src="/static/img/logo.png" alt=""></a>
                <ul class="navbar-nav d-flex flex-row gap-5">
                    <a href="/" class="nav-link fw-medium">Home</a>
                    <a href="/#sobre" class="nav-link fw-medium">Sobre</a>
                    <a href="/login" class="nav-link fw-medium">Login</a>
                    <a href="/cadastro" class="btn btn-primary fw-bold px-4">Fazer cadastro</a>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container editar-mensagem py-5 gap-1">
        <div class="d-flex gap-4 mb-5">
            <button class="btn btn-outline-primary px-4">
                <img src="../static/img//edit.svg" alt="" class=""><span>Editar</span>
            </button>
            <button class="btn btn-outline-danger px-4">
                <img src="../static/img//trash-2.svg" alt=""><span>Excluir</span>
            </button>
        </div>
        <h2 class="text-primary fw-bold my-3">Lorem ipsum dolor sit amet consec tetur adipsicing elit.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, quod. Facere, ipsa! Unde minima explicabo
            quae eius incidunt necessitatibus nihil itaque quia rem dolorum! Nobis velit omnis doloribus labore iusto
            eius ducimus alias numquam saepe nam. Doloribus, deserunt cupiditate quod fugiat quibusdam vitae nobis
            labore sapiente veniam commodi in sit suscipit, cumque voluptates, neque culpa veritatis quam ducimus minus
            sequi incidunt blanditiis recusandae distinctio ipsa! Facere, repellendus nihil. Ipsam provident, vitae
            deserunt voluptates, ad vel quis quod dolorem temporibus, id similique corrupti perferendis alias tenetur
            illo? Excepturi iure eum incidunt. Soluta corrupti veniam sapiente dolorem odio vero necessitatibus magnam
            mollitia? Cupiditate, soluta facilis quod exercitationem quibusdam quidem, vitae distinctio perferendis
            earum at, vel deleniti. Illo beatae ipsum exercitationem omnis ea, nihil, commodi voluptates sit consectetur
            dolorum autem, libero corrupti tenetur. Ullam labore rerum nam error unde odio vel perspiciatis placeat
            asperiores! Ipsam minus exercitationem enim non necessitatibus blanditiis possimus quis, vitae assumenda
            voluptas fugiat aut. Ullam iste debitis molestiae accusantium ad, magnam iusto quae beatae architecto
            adipisci obcaecati error? Perspiciatis nihil est impedit aliquid sunt veniam, totam corporis obcaecati
            repellendus eius ex. Molestiae magni nostrum ullam sed consectetur et quos aperiam, sint magnam, aliquid
            dolorum neque, debitis dolorem necessitatibus

            <br><br>tempora. Commodi deleniti id asperiores quia modi a adipisci,
            ea veniam voluptatibus? Ex quod nam rem sint nulla veniam quaerat tempore modi odio accusantium? Debitis
            voluptas ullam id laudantium nostrum rem ipsum eos perspiciatis harum quae necessitatibus beatae fuga,
            officia nulla nihil incidunt iure quasi accusantium praesentium tempore pariatur? Nisi, repellendus et quos
            dolor numquam laborum eaque consequuntur laboriosam eligendi! Quos odit repellendus officiis eaque pariatur
            officia doloremque ipsum ad repudiandae neque culpa aperiam voluptas similique quasi quidem ab harum,
            molestiae sequi ullam velit voluptatibus voluptatem quam alias. Magnam, quasi! Obcaecati in possimus debitis
            quos voluptatibus sit temporibus necessitatibus excepturi mollitia neque laborum repellendus, laboriosam
            vero nulla minima? Saepe aspernatur quam tempore eos quibusdam. Incidunt amet error, quasi officiis, soluta
            blanditiis excepturi provident debitis, libero voluptatibus veniam vero obcaecati. Incidunt porro, a
            expedita consectetur ab officiis veniam magni itaque iste accusantium quas deleniti doloremque. Facilis
            doloremque quidem rem aut nulla hic quae perferendis, neque eaque dolore fugiat perspiciatis ipsa incidunt
            a, dolor ad tenetur laborum deserunt veniam totam. Cum illum iusto labore quo laboriosam debitis doloremque
            aliquid fuga odit repellat! Similique culpa quos ullam temporibus impedit placeat pariatur at porro quaerat
            sequi neque a, delectus iure optio eos. Ea at perferendis praesentium laborum mollitia officia, deleniti
            molestiae dicta! Labore iusto, rem beatae ipsum nesciunt a perspiciatis aspernatur sed quisquam aliquid
            atque provident voluptate error deleniti neque natus tempore. Eveniet delectus fuga optio odit ipsam eaque.
            Ab consequatur atque sequi laboriosam dolorum aperiam. Possimus quidem ipsa deserunt ducimus sequi quibusdam
            obcaecati sunt illum asperiores libero, quia accusamus quisquam aliquam in inventore sint tempore. Iste
            voluptatum dolorem mollitia similique, optio, voluptatem ipsam facilis, modi velit eveniet ullam libero! Ad
            iste maxime fugiat temporibus sunt aperiam ab provident. Eius distinctio deleniti exercitationem fugit.
            Amet, nisi mollitia sunt saepe deserunt corporis ducimus quia nulla fugiat.</p>
        </form>
    </section>
</body>

</html>