{% extends 'base-sem-botao-cadastro.html' %}

{% block content %}
    <section class="container escrever-mensagem py-5 gap-1">
        <h2 class="text-primary fw-bold">Escreva sua mensagem</h2>
        <hr class="mb-4">
        <form action="" class="d-flex flex-column gap-4">
            <div>
                <label for="mensagemInputTitulo" class="form-label fw-medium">Título</label>
                <input placeholder="Digite o título da mensagem" type="text" id="mensagemInputTitulo"
                       class="form-control">
            </div>
            <div>
                <label for="mensagemInputConteudo" class="form-label fw-medium">Conteúdo</label>
                <textarea placeholder="Digite o conteúdo da mensagem" id="mensagemInputConteudo"
                          class="form-control"></textarea>
            </div>
            <div class="d-flex flex-column align-items-center gap-3 mt-2">
                <label for="datePicker" class="fw-medium">Escolha o momento em que a mensagem será liberada</label>
                <div class="input-group date" id="datePicker">
                    <input type="text" class="form-control">
                    <div class="input-group-text d-flex justify-content-center align-items-center px-2">
                        <img src="/static/img/calendar.svg" alt="">
                    </div>
                </div>
                <div class="input-group date" id="timePicker">
                    <input type="text" class="form-control timePicker">
                    <div class="input-group-text d-flex justify-content-center align-items-center px-2">
                        <img src="/static/img/clock.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="d-flex gap-4 mt-4 justify-content-center">
                <a href="/dashboard" class="btn btn-secondary px-3 fw-bold">Cancelar</a>
                <button type="submit" class="btn btn-primary px-5 fw-bold">Confirmar</button>
            </div>
        </form>
    </section>
{% endblock %}