{% extends 'base-sem-login.html' %}

{% block title %}Escrever mensagem{% endblock %}
{% block content %}
    <section class="container escrever-mensagem py-5 gap-1">
        {% include 'flash_messages.html' %}

        <h2 class="text-primary fw-bold">Escreva sua mensagem</h2>
        <hr class="mb-4">
        <form action="/escrever_mensagem" method="POST" class="d-flex flex-column gap-4">
            {{ form.hidden_tag() }}
            <div>
                {{ form.title.label(class="form-label fw-medium") }}
                {{ form.title(class="form-control") }}
            </div>
            <div>
                {{ form.content.label(class="form-label fw-medium") }}
                {{ form.content(id="textarea", class="form-control") }}
            </div>
            <div class="d-flex flex-column gap-2 align-self-center my-3">
                <div class="d-flex flex-column align-items-center">
                    {{ form.date_can_open.label(class="form-label fw-medium") }}
                    {{ form.date_can_open(class="form-control w-50") }}
                </div>
                <div class="d-flex flex-column align-items-center">
                    {{ form.time_can_open.label(class="form-label fw-medium") }}
                    {{ form.time_can_open(class="form-control w-50") }}
                </div>
            </div>
            <div class="d-flex gap-4 mt-4">
                <a href="{{ url_for('dashboard') }}" class="btn btn-secondary px-3 fw-bold">Cancelar</a>
                {{ form.submit(class="btn btn-primary px-5 fw-bold") }}
            </div>
        </form>
    </section>
    <script src={{ url_for('static', filename='js/auto-resize-textarea-height.js') }}></script>
{% endblock %}