{% if current_user_is_logged_in %}
    {% extends 'base-without-login.html' %}
{% else %}
    {% extends 'base-with-login.html' %}
{% endif %}

{% block content %}
    <section style="margin-top: 144px" class="d-flex flex-column align-items-center">
        <div class="mw-50">
            <h1 style="font-size: 72px" class="text-primary fw-bold mb-4 text-center">Erro 404</h1>
            <p class="mb-3 fw-medium fs-4 text-center">A página que você tentou acessar não foi encontrada.</p>
            <p class="fs-5 text-center">Se você inseriu a URL manualmente, verifique a ortografia e tente novamente.</p>
        </div>
    </section>
{% endblock %}
