{% if current_user_is_logged_in %}
    {% extends 'base-without-login.html' %}
{% else %}
    {% extends 'base-with-login.html' %}
{% endif %}

{% block content %}
    <section style="margin-top: 144px" class="d-flex flex-column align-items-center">
        <div class="mw-50">
            <h1 class="text-primary fw-bold mb-4 text-center display-1">Erro 403</h1>
            <p class="mb-3 fw-medium fs-4 text-center">Você não tem permissão para acessar essa página.</p>
            <p class="fs-5 text-center">Se você inseriu a URL manualmente, verifique a ortografia e tente novamente.</p>
        </div>
    </section>
{% endblock %}
