{% extends 'base-com-botao-cadastro.html' %}

{% block content %}
    <section class="container login pt-5 gap-1">
        <h2 class="text-primary fw-bold">Login</h2>
        <hr class="mb-4">
        <form action="" class="d-flex flex-column gap-4">
            <div>
                <label for="loginInputEmail" class="form-label fw-medium">E-mail</label>
                <input placeholder="Digite seu e-mail" type="email" id="loginInputEmail" class="form-control">
            </div>
            <div>
                <label for="loginInputPassword" class="form-label fw-medium">Senha</label>
                <input placeholder="Digite sua senha" type="password" id="loginInputPassword" class="form-control">
            </div>
            <div class="d-flex gap-4 mt-4">
                <a href="/cadastro" class="btn btn-outline-primary px-3 fw-bold">Criar conta</a>
                <button type="submit" class="btn btn-primary px-5 fw-bold">Confirmar</button>
            </div>
        </form>
    </section>
{% endblock %}